<div class="container-info">
    <header>Введение в CSS</header>
    <p>После знакомства с HTML разработчики сайтов разделяются на две основные категории. Одна часть считает, что с помощью HTML на сайте можно создавать всё или практически всё, другая же понимает, что в целом средств разметки недостаточно для оформления веб-документов. Действительно, HTML лишь первый этап в процессе обучения созданию сайтов. Следующим шагом является изучение стилей или CSS (Cascading Style Sheets, каскадные таблицы стилей).
    <br>
        Стили представляют собой набор параметров, управляющих видом и положением элементов веб-страницы.</p>

</div>
<div class="container-info">
    <header>Создание css файла</header>
    <p>
        <code>Файл со стилями имеет расширение .css.</code>
    </p>
</div>
<div class="container-info">
    <header>Подключение css к html странице</header>
    <p>
        <code>
            &#60;link rel="stylesheet" href="путь до файла со стилями">
        </code>
    </p>
</div>
<link rel="stylesheet" href="/assets/css/C1chapter.css">
<div class="quize-container">
    <iframe src="/assets/quizeC1chapter/quize/quiz.html" width="800" height="400"></iframe>
</div>