<div class="container-info">
    <header>Синтаксис CSS</header>
    <p>
        Вначале пишется имя селектора, например, TABLE, это означает, что все стилевые параметры будут применяться к
        тегу
        &#60;table>, затем идут фигурные скобки, в которых записывается стилевое свойство, а его значение указывается
        после
        двоеточия. Стилевые свойства разделяются между собой точкой с запятой, в конце этот символ можно опустить.
    </p>
</div>
<div class="container-info">
    <header>Виды параметров для изменения пространственного позиционированния:</header>
    <p>
        <code>padding, пространство только вокруг контента (например, вокруг абзаца текста)</code>
        <code>border, сплошная линия, которая расположена рядом с padding</code>
        <code>margin, пространство вокруг внешней стороны элемента </code>
    </p>
</div>
<div class="container-info">
    <header>Изменения цвета:</header>
    <p>
        <code>color, изменения цвета шрифта</code>
        <code>background-color, изменения цвета заднего фона</code>
    </p>
</div>
<link rel="stylesheet" href="/assets/css/C2chapter.css">
<div class="quize-container">
    <iframe src="/assets/quizeC2chatper/quize/quiz.html" width="800" height="400"></iframe>
</div>