<div class="container-info">
    <header>Основы оформления контента в HTML</header>
    <p>Все теги, перечисленные в этом уроке, должны использоваться внутри тега &#60;body>.</p>
</div>
<div class="container-info">
    <header>Тег &#60;p> для создания абзацев</header>
    <code>
        &#60;body> <br>
        &#60;p> <br>
        Текст про книгу 1 <br>
        &#60;/p> <br>
        &#60;p> <br>
        Текст про книгу 2 <br>
        &#60;/p> <br>
        &#60;/body> <br>
    </code>
</div>
<div class="container-info">
    <header>Виды заголовков:</header>
    <p>Заголовки используются как для названия странички, так и при оформлении её разделов. Для выделения заголовков
        используют заголовки &#60;h1>, &#60;h2> ... &#60;h6>. Чем меньше цифра рядом с буквой h, тем более важным
        является заголовок, и тем большим шрифтом он будет выделен. Заголовок &#60;h1>, соответственно - наиболее важный
        на странице и он должен быть только один, здесь как правило находится название страницы.</p>
    <p>
        Можете скопировать код ниже и посмотреть, как это будет выглядеть:
        <code>
            ... <br>
            &#60;body> <br>
            &#60;h1>Книги для программистов&#60;/h1> <br>
            &#60;h2>Название книги 1&#60;/h2> <br>
            &#60;p> <br>
            Текст про книгу 1 <br>
            &#60;/p> <br>
            &#60;h2>Название книги 2&#60;/h2> <br>
            &#60;p> <br>
            Текст про книгу 2 <br>
            &#60;/p> <br>
            &#60;/body> <br>
            ...
        </code>
    </p>
</div>

<div class="container-info">
    <header>Теги &#60;ul>, &#60;ol> и &#60;li> для оформления списков</header>
    <h3>Маркированный список</h3>
    <p>

    <span>Чтобы оформить маркированный список применяется тег &#60;ul> в паре с тегом &#60;li>. Весь список помещается внутрь &#60;ul>, а каждый элемент списка внутрь &#60;li>.</span>
    <span>Давайте сделаем простой список - перечислим уровни подготовки программистов, которым подойдёт книга:</span>
        <code>
            ... <br>
            &#60;p> <br>
                Текст про книгу 1 <br>
            &#60;/p> <br>
            &#60;p> <br>
                Книга подойдёт для: <br>
            &#60;/p> <br>
            &#60;ul> <br>
            &#60;li>Начинающих&#60;/li> <br>
            &#60;li>Середнячков&#60;/li> <br>
            &#60;li>Опытных&#60;/li> <br>
            &#60;/ul> <br>
            ...
        </code>
    </p>

    <h3>Нумерованный список</h3>
    <p>

        <span>Чтобы оформить маркированный список применяется тег &#60;ul> в паре с тегом &#60;li>. Весь список помещается внутрь &#60;ul>, а каждый элемент списка внутрь &#60;li>.</span>
        <span>Давайте сделаем простой список - перечислим уровни подготовки программистов, которым подойдёт книга:</span>
        <code>
            ... <br>
            &#60;p> <br>
            Текст про книгу 1 <br>
            &#60;/p> <br>
            &#60;p> <br>
            Книга подойдёт для: <br>
            &#60;/p> <br>
            &#60;ol> <br>
            &#60;li>Начинающих&#60;/li> <br>
            &#60;li>Середнячков&#60;/li> <br>
            &#60;li>Опытных&#60;/li> <br>
            &#60;/ol> <br>
            ...
        </code>
    </p>


    <h3>Вложенный список</h3>
    <p>

        <span>Чтобы сделать список внутри другого списка необходимо поместить его внутри тегов &#60;li>. Давайте добавим к одной из книг её содержание:</span>

        <code>
            ... <br>
            &#60;h3>Содержание книги&#60;/h3> <br>
            &#60;ul> <br>
            &#60;li>1. Как создавать чистый код <br>
            &#60;ul> <br>
            &#60;li>1.1 Правильно называем переменные&#60;/li> <br>
            &#60;li>1.2 Правильно называем функции&#60;/li> <br>
            &#60;/ul> <br>
            &#60;/li> <br>
            &#60;li>2. Как делать из плохого кода хороший&#60;/li> <br>
            &#60;/ul> <br>
            ... <br>
        </code>
    </p>

</div>

<link rel="stylesheet" href="/assets/css/H3chapter.css">
<div class="quize-container">
    <iframe src="/assets/quizeH3chapter/quize/quiz.html" width="800" height="400"></iframe>
</div>