<div class="container-info">
    <header>Теги, атрибуты тегов:</header>
    <p>
        У некоторых тегов есть атрибуты, которые указываются следующим образом:
        <br>
        <code>
            &#60;имя_тега атрибут1="значение атрибута" атрибут2="значение атрибута">
        </code>
    </p>

</div>

<div class="container-info">
    <header>тег title</header>
    <p>
        находится в теге &#60;head>, обозначает название заголовока страницы
        <br>
        <img src="/assets/css/images/img.png">
    </p>
    <p>
        Он является двойным <br>
        форма записи: &#60;title> Название заголовка страницы &#60;/title>
    </p>
    <p>Он должен содержать в себе основную суть страницы в нескольких словах. Также он не должен быть больше 80 символов
        - иначе остальные символы поисковики обрубят и заменят многоточием.</p>
</div>

<div class="container-info">
    <header>Мета-теги</header>
    <p>Одними из самых частоиспользуемых тегов, применяемых для описания служебной информации о страничке являются
        мета-теги. Это тег с именем meta и несколькими атрибутами. Эти теги всегда находятся внутри тегов head.</p>
    <p>

    <p>
        Выглядят метатеги как-то так:
        <br>
        <code>
            &#60;meta атрибут1="значение1" атрибут2="значение2">
        </code>

    </p>
    <p>
        С одним из мета-тегов мы уже познакомились в прошлом уроке. Это тег для задания кодировки страниц:
        <code>
            &#60;meta charset="UTF-8">
        </code>
    </p>
</div>

<div class="container-info">
    <header>Описание</header>
    <p>Чтобы задать описание страницы для поисковиков используется мета-тег description. Оно отображается прямо под
        названием сайта в результатах поиска Яндекса или Гугла. На самом деле, в Яндексе сейчас описание в поисковой
        выдаче формируется непонятно как. А вот в Гугле да, всё нормально.</p>
    <p>Задается данный мета-тег следующим образом:
        &#60;meta name="description" content="краткое описание страницы">
    </p>
</div>

<div class="container-info">
    <header>Ключевые слова</header>
    <p>Ключевые слова, присутствующие на странице, являются полезной информацией для поисковых систем.</p>
    <p>
        Вот так выглядит в HTML указание ключевых слов страницы:
        <code>
            &#60;meta name="keywords" content="разные, ключевые, слова">
        </code>
    </p>
</div>

<link rel="stylesheet" href="/assets/css/H2chapter.css">
<div class="quize-container">
    <iframe src="/assets/quizeH2chapter/quize/quiz.html" width="800" height="400"></iframe>
</div>