<div class="container-info">
    <header>Что такое тег?</header>
    <p>Тег представляет собой следующую последоветельность символов:

        Открывающая угловая скобка <
        Название тега
        Закрывающая угловая скобка ></p>
    <div>
        Пример тега:
        <code>
            &#60;html&#62;
        </code>
    </div>
    <div>
        Пример закрывающегося тега:
        <code>
            &#60;/html&#62;
        </code>
    </div>
</div>
<div class="container-info">
    <header>Что такое html страница и виды тегов</header>
    <p>Браузер, когда читает HTML-страничку обрабатывает каждый тег и складывает их сочетание в общую картину, которую
        мы видим на экране, когда просматриваем сайты.</p>
    <p>Теги в свою очередь могут быть как одиночными, так и парными.
        Одиночные теги представляют собой просто один тег. Например, тег <br>, который просто помещается между двумя
        строками, которые нужно разделить переносом.</p>
    <p>Парные же теги используются в паре. При этом есть открывающий тег и закрывающий. Закрывающий тег отличается от
        открывающего тем, что после открытой угловой скобки помещается ещё один символ - / (слэш). Между открывающим и
        закрывающим тегом помещаются какие-либо данные. К примеру - текст.</p>
    Пример парных тегов - тег для выделения абзацев <p>. Его использование выглядит следующим образом:</p>
    <code>
        &#60;p>Абзац первый&#60;/p>
        <br>
        &#60;p>Абзац второй&#60;/p>
    </code>
</div>
<div class="container-info">
    <header>Основная составляющая html страницы:</header>
    <code>
        <p>&#60;!DOCTYPE html></p>
        <p> &#60;html lang="ru"><br></p>
        <p>&#60;head> <br></p>
        <p>&#60;meta charset="UTF-8"><br></p>
        <p> ...<br></p>
        <p> &#60;/head><br></p>
        <p>&#60;body><br></p>
        <p> Видимый контент<br></p>
        <p>&#60;/body><br></p>
        <p> &#60;/html><br></p>
    </code>
    <code>
        &#60;!DOCTYPE html> - тип документа html
    </code>
    <code>
        &#60;html lang="ru"> - открыващий тег страницы
    </code>
    <code>
        &#60;head> - тег страницы, где производится настройка(кодировка, подключение стилей и т.д.)
    </code>
    <code>
        &#60;meta charset="UTF-8"> - выбор кодировки UTF-8
    </code>
    <code>
        &#60;/head> - закрывающий тег "головы страницы"
    </code>
    <code>
        &#60;body> - открывающий тег страницы, где человек будет писать видимую часть страницы
    </code>
    <code>
        &#60;/body> - закрывающий тег body
    </code>
    <code>
        &#60;/html> - закрывающий тег страницы
    </code>
</div>
<link rel="stylesheet" href="/assets/css/H1chapter.css">
<div class="quize-container">
    <iframe src="/assets/quizeH1chapter/quize/quiz.html" width="800" height="400"></iframe>
</div>