<div class="container-info">>
    <header>Рисунки</header>
    В этой главе я расскажу о том как добавить на нашу страничку графические изображения фотографию например, или рисунок, а также о том, что можно с ними вытворять используя предложенный набор тегов html языка.

</div>
<div class="container-info">
    <header>Путь к файлу</header>
    <p>
        Есть у Вас значит фотография, которая где-то лежит на Вашем жёстком диске.. копируем ёе и вставляем в ту папку
        (директорию) где уже лежит заготовка будущей страницы, ну то есть туда же, куда сохраняете блокнотом html
        документ. Так, вот для того чтобы теперь вставить её в нашу страничку к ней нужно указать путь.
        <code>
            &#60;img src="путь до файла"> (тег img является одинарным)
        </code>
    </p>

</div>
<link rel="stylesheet" href="/assets/css/H4chapter.css">
<div class="quize-container">
    <iframe src="/assets/quizeH4chapter/quize/quiz.html" width="800" height="400"></iframe>
</div>