<link rel="stylesheet" href="assets/css/style.css">
<div class="main">
    <div id="navbar">
        <header>Меню:</header>
        <h2><a href="/PersonalArea">Личный кабинет</a></h2>
        <h2><a href="/PersonalArea/tutorialForHTML">Руководство по HTML</a></h2>
        <h2><a href="/PersonalArea/tutorialForCSS">Руководство по CSS</a></h2>
        <h2><a href="/users/logout">Выйти</a></h2>
    </div>

    <div id="main-window">

        <header>Личный кабинет</header>

        <div class="container">
            <h3>Ваше имя:</h3>
            <h3><%= user.name %> </h3>
        </div>

        <div class="container">
            <h3>Ваш e-mail:</h3>
            <h3><%= user.email %></h3>

        </div>

        <div class="container">
            <h3>Прогресс изучения HTML:</h3>
            <h3>0/4</h3>
        </div>

        <div class="container">
            <h3>Прогресс изучения CSS:</h3>
            <h3>0/2</h3>
        </div>

    </div>
</div>