<link rel="stylesheet" href="assets/css/style.css">
<div class="main">
    <div id="navbar">
        <header>Меню:</header>
        <h2><a href="/PersonalArea">Личный кабинет</a></h2>
        <h2><a href="/PersonalArea/tutorialForHTML">Руководство по HTML</a></h2>
        <h2><a href="/PersonalArea/tutorialForCSS">Руководство по CSS</a></h2>
        <h2><a href="/users/logout">Выйти</a></h2>
    </div>
    
    <div id="main-window">
        <header>Информация по изучению HTML:</header>
        
        <div class="container">
            <h2><a href="/PersonalArea/tutorialForHTML/chapter1">Глава 1</a></h2>
            <h2>ВВедение в HTML</h2>
        </div>

        <div class="divider"></div>

        <div class="container">
            <h2> <a href="/PersonalArea/tutorialForHTML/chapter2">Глава 2</a></h2>
            <h2>Мета-теги и тег &#60;title></h2>
        </div>

        <div class="divider"></div>
        
        <div class="container">
            <h2><a href="/PersonalArea/tutorialForHTML/chapter3">Глава 3 </a></h2>
            <h2>Основы оформления контента в HTML</h2>
        </div>

        <div class="divider"></div>

        <div class="container">
            <h2><a href="/PersonalArea/tutorialForHTML/chapter4"> Глава 4 </a></h2>
            <h2>Рисунки и путь к файлу</h2>
        </div>

        <div class="divider"></div>


    </div>
</div>