<link rel="stylesheet" href="assets/css/style.css">
<div class="main">
    <div id="navbar">
        <header>Меню:</header>
        <h2><a href="/PersonalArea">Личный кабинет</a></h2>
        <h2><a href="/PersonalArea/tutorialForHTML">Руководство по HTML</a></h2>
        <h2><a href="/PersonalArea/tutorialForCSS">Руководство по CSS</a></h2>
        <h2><a href="/PersonalArea/tutorialForJS">Руководство по JS</a></h2>
        <h2><a href="/users/logout">Выйти</a></h2>
    </div>
    
    <div id="main-window">
        <header>Информацию по изучению JS:</header>
        <div class="container">
            <h2>Глава 1</h2>
            <h2>dfjglkdfgjdfl</h2>
        </div>

        <div class="divider"></div>

        <div class="container">
            <h2>Глава 2</h2>
            <h2>dfjglkdfgjdfl</h2>
        </div>

        <div class="divider"></div>
        
        <div class="container">
            <h2>Глава 3</h2>
            <h2>dfjglkdfgjdfl</h2>
        </div>

        <div class="divider"></div>

        <div class="container">
            <h2>Глава 4</h2>
            <h2>dfjglkdfgjdfl</h2>
        </div>

        <div class="divider"></div>

        <div class="container">
            <h2>Глава 5</h2>
            <h2>dfjglkdfgjdfl</h2>
        </div>

        <div class="divider"></div>

        <div class="container">
            <h2>Глава 6</h2>
            <h2>dfjglkdfgjdfl</h2>
        </div>
        <div class="divider"></div>
    </div>
</div>