<link rel="stylesheet" href="assets/css/style.css">
<div class="main">
    <div id="navbar">
        <header>Меню:</header>
        <h2><a href="/PersonalArea">Личный кабинет</a></h2>
        <h2><a href="/PersonalArea/tutorialForHTML">Руководство по HTML</a></h2>
        <h2><a href="/PersonalArea/tutorialForCSS">Руководство по CSS</a></h2>
        <h2><a href="/users/logout">Выйти</a></h2>
    </div>
    
    <div id="main-window">
        <header>Информация по изучению CSS:</header>

        <div class="container">
            <h2><a href="/PersonalArea/tutorialForCSS/chapter1">Глава 1</a></h2>
            <h2>Введение</h2>
        </div>

        <div class="divider"></div>

        <div class="container">
            <h2><a href="/PersonalArea/tutorialForCss/chapter2"> Глава 2 </a></h2>
            <h2>Синтаксис</h2>
        </div>

        <div class="divider"></div>

    </div>
</div>