div.main{
	display:flex;
}
div#navbar{
	width: 20%;
	height: 2000px;
	border-right: solid #949393 2px;
}
h2{
	font-size: 200%;
}
h3{
	font-size: 200%;
}
header{
	text-align: center;
	font-size: 2em;
}
div#main-window{
	width: 80%;
}
div.container{
	display: flex;
	justify-content: space-between;
}
div.divider{
	width: 80%;
	color:aqua;
	margin: 0 auto;
}